.page-title {
    position: absolute;   
    top: 5px;            
    left: 5px;           
    font-weight: bold;    
    font-size: 30px;
}
.padding {
    padding: 10px;
}
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.image-row figure {
    flex: 1;
    max-width: 250px;
}

.image-row img {
    max-width: 100%;
    height: auto;
}
